@model IEnumerable<CC.Data.Service>
@{
    ViewBag.Title = "Services";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script type="text/javascript">
    $(function () {
        $('table.grid').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aaSorting": [[0, "asc"], [1, "asc"], [2, "asc"]], //ser asc, start desc
            "aoColumnDefs": [
					{ "aTargets": [-1], "bSortable": false }, //the column with links,

            ]
        });
    });
</script>
<table class="grid">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ReportingMethod
            </th>
            <th>
                ServiceType
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @EnumHelper.EnumDisplayNameFor(item.ReportingMethodEnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<fieldset>
    <div class="editor-item">
        <button type="button" id="exportBtn">Export to Excel</button>
    </div>
</fieldset>
<script>
    $('#exportBtn').click(function () {
        window.location.href = '@Url.Action("Export")';
    });
</script>
