@model CC.Data.User
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<fieldset>
	<legend>User Details</legend>
	<div class="display-label">UserName</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.UserName)
	</div>

	<div class="display-label">Email</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Email)
	</div>

	<div class="display-label">@Html.LabelFor(f => f.DecimalDisplayDigits)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DecimalDisplayDigits)
	</div>

	<div class="display-label">Role</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Role.Name)
	</div>

		<div class="editor-field">
	<a class="button" href="@Url.Action("Edit", "Account")">Edit</a>
	</div>
</fieldset>
