@model IEnumerable<CC.Data.ServiceType>
@{
    ViewBag.Title = "ServiceTypes";
}

<h2>@ViewBag.Title</h2>

<table id="ServiceTypesTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    $(function () {
        $('#ServiceTypesTable').dataTable();
    });
</script>
