@model CC.Data.Fund
@{
    ViewBag.Title = "Fund Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Fund</legend>

    <div class="display-label">MasterFund</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MasterFund.Name)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">Minimum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Currency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency.Name)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.OtherServicesMax, "Other Services Max (%)")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherServicesMax)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.HomecareMin, "Homecare Min (%)")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomecareMin)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.AdminMax, "Admin Max (%)")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminMax)
    </div>

    <div class="display-label">Austrian Eligible Only?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AustrianEligibleOnly)
    </div>


	  <div class="display-label">Romanian Eligible Only?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RomanianEligibleOnly)
    </div>


    <div class="display-label">Exchange Rates:</div>
    <div>
        <table>
            <tr>
                <th>CUR</th>
                <th>Rate</th>
            </tr>
            @foreach (var item in Model.FundExchangeRates)
            {
                <text>
                <tr>
                    <td>@Html.DisplayFor(f => item.CurId)</td>
                    <td>@Html.DisplayFor(f => item.Value) </td>
                </tr>
                </text>
            }
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
